In [133]:
import pandas as pd
import json
import warnings
from collections import defaultdict

warnings.filterwarnings('ignore')

In [134]:
PATH = '../data/'
accounts = pd.read_csv(PATH + 'ZayoHackathonData_Accounts.csv')

In [135]:
accounts.head()

,Account ID,Industry,Vertical,Total BRR,AnnualRevenue,NumberOfEmployees,DandB Revenue,DandB Total Employees
0,Acct-000273,Telecommunications,Wireless,"$6,084,906.00","$248,747,365.62",397,"$356,943,618.45",397
1,Acct-000013,Telecommunications,National Carrier/ISP,"$5,117,529.00","$10,779,768,901.96",40000,"$10,779,768,901.96",40000
2,Acct-000036,Telecommunications,Wireless,"$5,105,015.00","$9,277,969,886.09",34518,"$19,094,310,655.17",34518
3,Acct-000025,Telecommunications,National Carrier/ISP,"$4,234,871.00","$6,248,394,000.00",10040,"$7,587,138,000.00",12500
4,Acct-000004,Telecommunications,Wireless,"$3,510,947.00","$29,669,960,000.00",30000,"$32,588,090,000.00",30000

In [136]:
accounts[' Total BRR '] = accounts[' Total BRR '].str.replace(r'[$,]', '')
accounts[' Total BRR '] = accounts[' Total BRR '].str.replace('-', '0')
accounts[' Total BRR '] = accounts[' Total BRR '].apply(pd.to_numeric)

In [137]:
accounts['Industry'] = accounts['Industry'].replace(['^Media/Content$'], ['Media & Content'], regex=True)
accounts['Industry'] = accounts['Industry'].replace(['^Energy$'], ['Energy & Manufacturing'], regex=True)
accounts['Industry'] = accounts['Industry'].replace(['^Manufacturing$'], ['Energy & Manufacturing'], regex=True)

In [138]:
industry_brr = accounts.groupby(['Industry', 'Vertical'])[' Total BRR '].sum()

In [139]:
industry_brr = pd.DataFrame(industry_brr).reset_index()

In [140]:
industry_dict = defaultdict(dict)

for idx, val in industry_brr.iterrows():
    industry_dict[val[0]][val[1]] = val[2]

In [141]:
with open('../processedData/result.json', 'w') as fp:
    json.dump(industry_dict, fp)